.container {
  max-width: 1140px;
  padding: 3rem 0;
  margin: 0 auto;
  display: block;

  .button {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
  }

  ul {
    display: flex;
    flex-wrap: wrap;

    li {
      margin: 1rem;
      flex: 1 1 400px;

      .icons {
        display: flex;
        justify-content: center;

        a {
          margin-right: 1rem;
        }

        a:hover {
          color: var(--grey);
        }
      }
    }
  }
}
