<div class="container">
  <div class="button" *ngIf="logged">
    <a routerLink="criar">
      <com-button fill>
        <com-icon slot="icon">add</com-icon>
        <ng-container slot="text">Criar curso</ng-container>
      </com-button>
    </a>
  </div>

  <ul>
    <li *ngFor="let curso of cursos">
      <com-card [headerTitle]="curso.nome">
        <span>{{ curso.descricao }}</span>

        <div slot="footer" class="icons">
          <a *ngIf="!logged" routerLink="/cursos/detalhes/{{ curso.idCurso }}"
            >SAIBA MAIS</a
          >
          <a *ngIf="logged" routerLink="/cursos/detalhes/{{ curso.idCurso }}"
            ><com-icon>info</com-icon></a
          >
          <a *ngIf="logged" routerLink="/cursos/deletar/{{ curso.idCurso }}"
            ><com-icon>delete</com-icon></a
          >
          <a *ngIf="logged" routerLink="/cursos/editar/{{ curso.idCurso }}"
            ><com-icon>edit</com-icon></a
          >
        </div>
      </com-card>
    </li>
  </ul>
</div>
