<div class="l-container">
    <div class="p-d-flex p-jc-center l-container__btn">
      <a routerLink="criar">
        <p-button icon="pi pi-plus"></p-button>
      </a>
    </div>
    <div class="p-d-flex p-grid">
      <p-card [header]="curso.nome" class="p-d-inline p-col-4 p-card-shadow" *ngFor="let curso of cursos">
        <!-- <ng-template pTemplate="header">
            <img alt="Card" src="assets/showcase/images/usercard.png">
        </ng-template> -->
        <p>{{ curso.descricao }}</p>

        <ng-template pTemplate="footer" *ngIf="!logged">
          <a *ngIf="!logged" routerLink="/cursos/detalhes/{{ curso.idCurso }}"
            >SAIBA MAIS</a
          >
        </ng-template>
        <ng-template class="p-d-flex p-jc-center" pTemplate="footer" *ngIf="logged">
          <a routerLink="detalhes/{{ curso.idCurso }}"><button pButton pRipple icon="pi pi-eye" class="p-button-rounded"></button></a>
          <a routerLink="editar/{{ curso.idCurso }}"><button pButton pRipple icon="pi pi-pencil" class="p-button-rounded"></button></a>
          <a routerLink="deletar/{{ curso.idCurso }}"><button pButton pRipple icon="pi pi-trash" class="p-button-rounded"></button></a>
        </ng-template>
      </p-card>
    </div>
</div>
