.l-navbar {
  font-size: 16px;

  li {
    text-transform: uppercase;

    &:not(:last-child) {
      margin-right: 3rem;
    }
  }

  a {
    color: #f1f4f8;
  }

  a:hover {
    color: #dadce0;
  }
}
