.nav {
  ul {
    li {
      display: inline;
      text-transform: uppercase;
      margin: 0 0 0 3rem;
    }
    a {
      color: var(--lighter-grey);
    }
    a:hover {
      color: var(--light-grey);
    }
  }
}
