nav {
  ul {
    font-size: 16px;

    li {
      display: inline;
      text-transform: uppercase;
    }

    li:not(:last-child) {
      margin-right: 3rem;
    }

    a {
      color: #f1f4f8;
    }

    a:hover {
      color: #dadce0;
    }
  }
}
