header {
  background-color: #3f51b5;

  .l-container {
    max-width: 1140px;
    padding: 3rem 0;
    margin: 0 auto;

    .l-container__logo {
      h1 {
        font-size: 36px;
        color: #f1f4f8;
        text-transform: uppercase;
        border: #f1f4f8 2px solid;
        padding: 1rem;
      }

      img {
        width: 150px;
      }
    }
  }
}
