.card {
  width: 58rem;
  margin: 1rem;

  .accordion {
    margin-top: 2rem;
    width: 50rem;
  }

  .icons {
    display: flex;
    justify-content: center;

    a {
      margin-right: 1rem;
    }

    a:hover {
      color: var(--grey);
    }
  }
}
