<div class="card">
  <com-card headerTitle="Curso Angular 9">
    <span
      >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
      vestibulum tincidunt malesuada. Donec lacinia gravida turpis sollicitudin
      laoreet. Duis eleifend dui eget risus blandit pretium.</span
    >
    <com-accordion class="accordion">
      <com-accordion-item headerTitle="Detalhes">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
        vestibulum tincidunt malesuada. Donec lacinia gravida turpis
        sollicitudin laoreet. Duis eleifend dui eget risus blandit pretium.
      </com-accordion-item>
    </com-accordion>
  </com-card>
</div>
