.banner {
  height: 50rem;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.container {
  max-width: 1140px;
  padding: 8rem 0;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.reviews {
  .review {
    display: flex;
    align-items: center;
    margin: 1rem;

    .img {
      width: 10%;
      margin-right: 2rem;

      img {
        border-radius: 50%;
      }
    }

    .text {
      width: 90%;

      h2 {
        font-size: 24px;
      }
      h3 {
        font-size: 24px;
        font-weight: bold;
        margin-top: 1rem;
      }
    }
  }

  .review:not(:last-child) {
    margin-bottom: 5rem;
  }
}

.patrocinadores {
  background-color: var(--light-grey);

  ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1rem;

    li:not(:nth-child(1n + 5)) {
      margin-bottom: 5rem;
    }

    li:not(:nth-child(4n)) {
      margin-right: calc((100% - (12.4rem * 4)) / 3);
    }
  }
}
