.banner {
  height: 50rem;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.container {
  padding: 8rem 6rem 8rem 6rem;
}

.reviews {
  .review {
    display: flex;
    align-items: center;
    margin: 5rem;
    height: 15rem;

    .img {
      width: 10%;
      margin-right: 2rem;

      img {
        border-radius: 50%;
      }
    }

    .text {
      width: 90%;

      h2 {
        font-size: 24px;
      }
      h3 {
        font-size: 24px;
        font-weight: bold;
        margin-top: 1rem;
      }
    }
  }
}

.patrocinadores {
  background-color: var(--light-grey);

  ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    li {
      display: flex;
      justify-content: center;
      width: calc(100% / 4);
      height: calc(100% / 2);
    }
  }
}
