<div class="p-grid p-d-flex p-jc-center l-container">
  <div class="p-fluid p-col-6">
    <div class="p-field">
      <span class="p-float-label">
        <input type="text" id="nome" pInputText>
        <label for="nome">Nome Completo</label>
      </span>
    </div>

    <div class="p-field">
      <span class="p-float-label">
        <input id="email" pInputText>
        <label for="email">E-mail</label>
      </span>
    </div>

    <div class="p-field">
      <span class="p-float-label">
        <textarea id="duvida" pInputTextarea></textarea>
        <label for="duvida">Dúvida</label>
      </span>
    </div>

    <div class="p-field-radiobutton">
      <p-radioButton inputId="manha" value="Manhã"></p-radioButton>
      <label for="manha">Manhã</label>
    </div>
    <div class="p-field-radiobutton">
      <p-radioButton inputId="tarde" value="Tarde"></p-radioButton>
      <label for="tarde">Tarde</label>
    </div>
    <div class="p-field-radiobutton">
      <p-radioButton inputId="noite" value="Noite"></p-radioButton>
      <label for="noite">Noite</label>
    </div>
    <div class="button">
      <p-button label="Enviar" type="submit"></p-button>
    </div>
  </div>
</div>
