<div class="banner">
  <img src="assets/png/banner.png" />
</div>

<section class="reviews">
  <div class="container">
    <div class="review">
      <div class="img"><img src="assets/png/profile.png" /></div>
      <div class="text">
        <h2>
          "A experiência com a Teste é incrível: a equipe consegue estar sempre
          atualizada sobre as novas tecnologias, agregar conhecimentos e se
          aperfeiçoar. O acompanhamento mensal da equipe ajudou bastante, tanto
          como os relatórios gerenciais da plataforma."
        </h2>
        <h3>Roberto de Oliveira</h3>
      </div>
    </div>
    <div class="review">
      <div class="img"><img src="assets/png/profile.png" /></div>
      <div class="text">
        <h2>
          "Passei dois anos e meio desempregado e foi onde conheci os cursos da
          Teste. Consegui fazer uma mudança de carreira em uma área muito
          disputada e estou muito feliz: passei em um processo seletivo como
          Agente de Inovação, e muito do que aprendi tanto para a prova quanto
          para a etapa presencial foi graças a Teste."
        </h2>
        <h3>Victor Moreira</h3>
      </div>
    </div>
    <div class="review">
      <div class="img"><img src="assets/png/profile.png" /></div>
      <div class="text">
        <h2>
          "A plataforma é incrível. Além das metodologias do curso serem de
          alcance para quem está começando ou quem já está avançado em alguma
          tecnologia, no fórum de dúvidas sempre algum instrutor ou aluno te
          responde em um curto espaço de tempo. Na Teste, seu conhecimento é
          prioridade."
        </h2>
        <h3>Amanda Cardoso</h3>
      </div>
    </div>
  </div>
</section>

<section class="patrocinadores">
  <div class="container">
    <ul>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
</section>

<!-- size="12.4" color="#202124"
size="12.4" color="#202124"
size="12.4" color="#202124"
size="12.4" color="#202124"
size="12.4" color="#202124"
size="12.4" color="#202124"
size="12.4" color="#202124"
size="12.4" color="#202124" -->
