<div class="l-container">
  <div class="p-fluid">
    <div class="p-field" >
      <label for="nome">Nome do curso</label>
      <input id="nome" type="text" formControlName="nome" pInputText>
    </div>

    <div class="p-field" >
      <label for="codigo">Código do curso</label>
      <input id="codigo" type="text" formControlName="codigo" pInputText>
    </div>

    <div class="p-field">
      <p-dropdown [options]="disciplinas" placeholder="Selecione uma disciplina" formControlName="disciplina"></p-dropdown>
    </div>

    <div class="p-field">
      <label for="codigoCnpq">Código CNPQ</label>
      <input id="codigoCnpq" type="text" formControlName="codigoCnpq" pInputText>
    </div>

    <div class="p-field">
      <textarea rows="5" cols="30" pInputTextarea autoResize="autoResize" placeholder="Digite o Texto" formControlName="descricao"></textarea>
    </div>

    <div class="p-field">
      <p-dropdown [options]="cargasHorarias" placeholder="Selecione uma carga horária" formControlName="cargaHoraria"></p-dropdown>
    </div>

    <div class="buttons">
      <p-button label="Criar" (click)="onSubmit()"></p-button>
      <button pButton pRipple label="Cancelar" class="p-button-outlined" (click)="onCancel()"></button>
    </div>
  </div>
</div>
