.container {
  padding: 3rem 6rem 3rem 6rem;
  display: flex;
  justify-content: center;

  .form {
    width: 60%;
    margin: 1rem;
  }

  .buttons {
    margin-top: 2rem;
    display: inline-flex;

    com-button {
      margin-right: 1rem;
    }
  }
}
