<div class="container">
  <div class="form">
    <com-form>
      <com-form-section block formTitle="Login">
        <com-input type="text" style="width: 100%" label="Username"></com-input>
        <com-input style="width: 100%" label="Senha"></com-input>
      </com-form-section>
      <com-form-section block>
        <com-button fill form="formId">
          <ng-container slot="text">Entrar</ng-container>
        </com-button>
      </com-form-section>
    </com-form>
  </div>
</div>

<!-- type="password" -->
