<div class="p-grid p-d-flex p-jc-center l-container">
  <form class="p-fluid p-col-3" [formGroup]="form">

    <div class="p-field">
      <span class="p-float-label">
        <input id="usuario" type="text" pInputText formControlName="user">
        <label for="usuario">Usuário</label>
      </span>
    </div>

    <div class="p-field">
      <span class="p-float-label">
        <input id="senha" type="password" pPassword formControlName="senha">
        <label for="senha">Senha</label>
      </span>
    </div>

    <div class="l-btn">
      <p-button label="Entrar" (click)="onSubmit()"></p-button>
    </div>
    
  </form>
</div>


<!-- [formGroup]="usuarioLogado" -->
