<div class="p-grid p-d-flex p-jc-center l-container">
  <div class="p-fluid p-col-3">
    <div class="p-field">
      <span class="p-float-label">
        <input id="usuario" type="text" pInputText>
        <label for="usuario">Usuário</label>
      </span>
    </div>
    <div class="p-field">
      <span class="p-float-label">
        <input id="senha" type="password" pPassword>
        <label for="senha">Senha</label>
      </span>
    </div>
    <div class="button">
      <p-button label="Enviar" (click)="onSubmit()"></p-button>
    </div>
  </div>
</div>


<!-- [formGroup]="usuarioLogado" -->
