<div class="container">
  <div class="form" [formGroup]="usuarioLogado">
    <com-form>
      <com-form-section block formTitle="Login">
        <com-input
          type="text"
          style="width: 100%"
          label="Usuário"
          formControlName="user"
        ></com-input>
        <com-input
          style="width: 100%"
          label="Senha"
          formControlName="senha"
        ></com-input>
      </com-form-section>
      <com-form-section block>
        <com-button fill form="formId" (click)="onSubmit()">
          <ng-container slot="text">Entrar</ng-container>
        </com-button>
      </com-form-section>
    </com-form>
  </div>
</div>

<!-- type="password" -->
